.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
*.csv

# Ignore the build directory
/build

# Ignore the public directory
/public

# Ignore the data files
./apps/api/partial-recpies.json
./apps/api/places.csv