.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
*.csv

# Ignore the build directory
/build
/apps/api/build
/apps/web/build

# Ignore the public directory
/public

# Ignore the data files
/apps/api/partial-recipes.json
/apps/api/places.csv
/apps/api/recipe-wiki-424823-ea961f67d429.json